/* Sections */
body section {
  display: flex;
  width: 100%;
  min-height: 60px;
  max-width: 1240px;
  margin: 20px auto;
  justify-content: center;
  flex-direction: column;
}

body section.first {
  margin-top: 80px;
}

body section * {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: start;
  vertical-align: baseline;
  max-width: 100%;
}

section header,
section footer,
section main {
  width: 100%;
  margin: 5px;
  flex-wrap: wrap;
}

section header {
  max-width: 800px;
  margin: auto;
  color: #424242;
  font-weight: 700;
  font-size: 95%;
}

/* Main of section */
.cols-cont {
  flex-direction: row;
  margin-bottom: 10px;
}

.col {
  flex-direction: column;
  justify-content: flex-start !important;
  min-width: 200px;
}

.smaller-col {
  width: 30%;
}

.bigger-col {
  width: 60%;
}

.bigger-col * {
  margin-left: 0;
}

/* Block styles */
.important {
  padding: 6px;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #569cd6;
}

.important:hover {
  background-color: #4d5a5d;
}

/* Project pages */
section.in-header {
  width: 100%;
  max-width: unset;
  flex-direction: row;
  margin-top: 0px;
}

section.in-header .cols-cont,
section.in-header .col {
  min-width: 200px;
}

section.in-header main .smaller-col {
  max-width: 60px;
  min-width: 80px;
}

section.in-header main #avatar-img {
  max-width: 60px;
}

section.in-header main #bio,
section.in-header main #location,
section.in-header main #company {
  display: none;
}

section.in-header main #my-name {
  font-size: 20px;
}

section.in-header main #my-login {
  font-size: 14px;
}

.banner {
  max-width: 880px;
  min-width: 96%;
  margin: 20px;
  border-radius: 14px;
  box-shadow: #569cd6 2px 1px 14px 0;
}


/* two column list */
.two-column-list {
  width: 100%;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  margin: 0px;
}

.two-column-list li {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
}

.two-column-list li a {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  color: #d4d4d4;
}

.two-column-list li a:hover {
  background-color: #569cd6;
  border-radius: 6px;
}

.two-column-list li span {
  width: 60%;
  max-width: 380px;
  padding: 6px;
}

.two-column-list li span:first-child {
  width: 40%;
  text-align: right;
  color: #9cdcfe;
  font-weight: 600;
}

.one-column-list {
  width: 100%;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  margin: 0px;
}

.one-column-list li {
  display: flex;
  /* flex-direction: column; */
  /* list-style: none; */
  /* width: 100%; */
}

.one-column-list li a {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  padding: 2px 4px;
  color: #9cdcfe;
}

.one-column-list li a:hover {
  background-color: #569cd6;
  border-radius: 6px;
}