.markdownContainer {
    max-width: 840px;
    width: 100%;
    margin: 20px auto 120px auto;
    padding: 8px 24px 32px 24px;

    border-radius: 15px;
    box-shadow: 4px 4px 16px #1e1e1e;
    border: 2px solid #1e1e1e;
}