.pageTitleCon {
    flex-direction: column;
}

.pageTitleCon * {
    margin: auto;
    display: flex;
}

.pageTitle {
    flex-direction: row;
    display: flex;
    width: fit-content;
}

.pageTitle .icon {
    max-width: 100px;
    min-width: 100px;
    border-radius: 60px;
}

.pageTitle .title {
    font-size: 22px
}

.pageTitle .subtitle {
    margin-top: -5px;
    font-size: 20px;
    color: #858585;
}

.pageTitle .titleCon {
    flex-direction: column;
    margin: auto;
    margin-left: 20px;
}

.pageTitle .titleCon>* {
    margin-left: 0px;
}

.pageTitleCon .banner {
    max-width: 640px;
    width: 98%;
    margin: 20px auto;
    border-radius: 14px;
    box-shadow: #569cd6 2px 1px 14px 0;
}