.repos-list {
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.repo {
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    max-width: 80%;
    min-height: 100px;
    margin: 6px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 2px solid #252525;
    background-color: #0f0f0f;
    box-shadow: 3px 3px 5px 0 #0f0f0f;
}

.repo>* {
    margin-left: 0px;
}

.repo .svg {
    order: 1;
    width: 7%;
    align-self: center;
    vertical-align: middle;
}

.repo .name {
    order: 0;
    align-self: center;
    width: 93%;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.repo .description {
    order: 2;
    width: 100%;
    font-size: 12px;
    color: #666666;
}

.repo .language {
    order: 4;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #858585;
}

.repo:hover {
    box-shadow: 3px 3px 5px 0 #4d5a5d;
    border-color: #4d5a5d;
}

.fork * {
    fill: #c38f58;
}

.star {
    fill: #a07ac4;
}