section.in-header {
  width: 100%;
  max-width: unset;
  flex-direction: row;
  margin-top: 0px;
}

section.in-header .cols-cont,
section.in-header .col {
  min-width: 200px;
}

section.in-header main .smaller-col {
  max-width: 60px;
  min-width: 80px;
}

section.in-header main .avatar-img {
  max-width: 60px;
}

section.in-header main .profile-data,
section.in-header main .description {
  display: none;
}

section.in-header main .title {
  font-size: 20px;
}

section.in-header main .subtitle {
  font-size: 14px;
}